<br>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    
  
        <ul class="social-icons">
        
              <a href="https://www.linkedin.com/in/randa-riad-62aaa7115/" class="fa fa-linkedin"></a>
              <a href="https://github.com/RandaRiad" class="fa fa-github"></a> 
        
              <a href="https://www.facebook.com/randa.mamdouh" class="fa fa-facebook"></a>
        
      
        </ul>

          
       

   
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer --> </div>